langgraph
langchain
langchain-groq
langchain-community
langchain-tavily
psycopg[binary]
psycopg_pool
duckduckgo-search
ddgs
python-dotenv
tavily-python
requests
langgraph-checkpoint-postgres
airportsdata
pycountry
fastapi
uvicorn
jinja2
ipykernel

nest-asyncio
mcp
langchain-mcp-adapters
duckduckgo-mcp-server

langchain-google-genai